body {
    margin: 0;

    text-align: center;
}

h1, h2, a {
    font-family: 'Raleway', sans-serif;

    letter-spacing: 1px;
    text-transform: uppercase;
}

a {
    font-size: 18px;
    font-weight: 400;

    margin: 20px;

    text-decoration: none;

    color: #FFF;
}

h1 {
    font-size: 45px;
    font-weight: 400;

    margin: 0;

    color: #FFF;
}

h2 {
    font-size: 20px;
    font-weight: 600;

    color: #0D2C40;
}

p {
    font-family: 'Droid Serif', serif;
    font-size: 18px;
    line-height: 26px;
}

header {
    padding: 30px 20px;

    background-color: #F15B31;
}

nav {
    padding: 20px 0;

    background-color: #00A6B3;
}

a {
    border-bottom: 2px solid transparent;
}

a:hover {
    border: 2px solid white;
}

main {
    width: 850px;
    margin: 35px auto;
}

footer {
    font-size: 14px;
    font-weight: 500;

    padding: 20px;

    text-transform: uppercase;
   letter-spacing: .08em;
    color: white;
    background-color: #0D2C40;
}

.copyright {
    font-family: 'Raleway';
    font-size: 14px;

    float: left;

 
}

.message {
    font-family: 'Raleway';
    font-size: 14px;

    float: right;
    letter-spacing: .08em;
}

img {
    margin: 40px 8px;
}

.clearfix:after {
    font-size: 0;

    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: ' ';
}

.name {
    color: #F15B31;
}
